{% extends 'activity/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="content justify-content-center text-center m-2">
        
        
        <div class="m-2 header">
          <h1 ><b>Your Plans</b></h1>
        </div>
        

    {% for task in tasks %}

        {% if task.task_complete == True %}
        <div class="alert alert-secondary" role="alert">
            <h4 class="alert-heading"><strike> {{task.task}} </strike></h4>
            <p>Congratulations!! You have completed this plan</p>
            <hr>
            <p class="mb-0">Do you want to delete this plan? <a href="{% url 'delete' task.pk %}"><button class="btn btn-danger">Delete</button></a></p>
          </div>

        {% else %}

        <div class="alert alert-secondary" role="alert">
            <a href=" {% url 'plan' task.pk %} " class="link"><h4 class="alert-heading"> <b>{{task.task | title}}</b> </h4></a>
            <hr>
            <a href=" {% url 'update' task.pk %} "><button class="btn btn-success">Update Plan</button></a>
            <a href="{% url 'delete' task.pk %}"><button class="btn btn-danger">Delete Plan</button></a>
          </div>
        {% endif %}
        
    {% empty %}
    <p class="header">You have no Plans yet</p>
    <p class="header"><a href=" {% url 'addplan' %} "><button class="btn btn-dark">Add a Plan</button></a></p>

    {% endfor %}
    <hr>
     <a href=" {% url 'home' %} "><button class="btn btn-danger">Go Back</button></a>



    </div>
</div>
{% endblock %}